.thumbnail_card {
    height: 300px;
    background-repeat:no-repeat;
    background-size:cover; 
    background-position:center;
  }

.doll-profile-img {
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  height: auto;
}

/* Carousel Specific Styles */
.ratio-2-3 { padding-top: 150%; } /* 2:3 Vertical Aspect Ratio */

@screen sm {
  .sm\:ratio-2-3 { padding-top: 150%; } /* 2:3 Vertical Aspect Ratio */
}

@screen md {
  .md\:ratio-2-3 { padding-top: 150%; } /* 2:3 Vertical Aspect Ratio */
}

@screen lg {
  .lg\:ratio-2-3 { padding-top: 150%; } /* 2:3 Vertical Aspect Ratio */
}

@screen xl {
  .xl\:ratio-2-3 { padding-top: 150%; } /* 2:3 Vertical Aspect Ratio */
}

@screen 2xl {
  .2xl\:ratio-2-3 { padding-top: 150%; } /* 2:3 Vertical Aspect Ratio */
}

.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
  max-width: 100%;
  max-height: 800px;
}