{{ $progressiveLine := .Get "progressiveLine" }}
{{ $looping := .Get "looping" }}

<div class="chart-container">
    {{ $id := delimit (shuffle (seq 1 9)) "" }}
    <canvas id="{{ $id }}"></canvas>
    <script type="text/javascript">
      window.addEventListener("DOMContentLoaded", (event) => {
        const ctx = document.getElementById("{{ $id }}");
        {{ if $progressiveLine }}

          const delayBetweenPoints = 25;
          const previousY = (ctx) => ctx.index === 0 ? ctx.chart.scales.y.getPixelForValue(100) : ctx.chart.getDatasetMeta(ctx.datasetIndex).data[ctx.index - 1].getProps(['y'], true).y;
   
          const animation = {
            x: {
              type: 'number',
              easing: 'linear',
              from: NaN, // the point is initially skipped,
              duration(ctx) { return delayBetweenPoints*(ctx.datasetIndex+1)*ctx.dataset.data.length;},
              delay(ctx) {
                if (ctx.type !== 'data' || ctx.xStarted) {
                  return 0;
                }
                ctx.xStarted = true;
                return ctx.index * delayBetweenPoints;
              }
            },
            y: {
              type: 'number',
              easing: 'linear',
              duration(ctx) { return delayBetweenPoints*(ctx.datasetIndex+1)*ctx.dataset.data.length;},
              from: previousY,
              delay(ctx) {
                if (ctx.type !== 'data' || ctx.yStarted) {
                  return 0;
                }
                ctx.yStarted = true;
                return ctx.index * delayBetweenPoints;
              }
            },
          };
        {{ end }}
        const chart = new Chart(ctx, {
          {{ .Inner | safeJS }}
        });
      });
    </script>
  </div>
  